	<h1>Do you see the imprint on the pill?</h1>
	<ul class="list-inline">
		<li>e.g. type "ABC 12"</li>
		<li>
			<img class="imprintImage" src="http://sfc-stage02.healthline.com/resources/base/images/pill-identifier-v2/imprint.png">
		</li>
	</ul>

	<ul class="list-inline">
		<li class="col-md-6">
			<button class="btn btn-primary col-md-12" ui-sref="pillImprint"><strong>Yes</strong></button>
		</li>
		<li class="col-md-6">
			<button class="btn btn-primary col-md-12" ui-sref="pillShapeColor"><strong>No</strong></button>
		</li>
	</ul>
	
	<div ui-view></div>