<div id="yes-page" class="hl-pill-id-module" style="display: block;">
  <span class="hl-read-more-chevron">&lt;</span>
  <a ui-sref="index" id="goBackLink1" class="hl-content-link">Back</a>
  <p class="hl-secondary-heading hl-pi-instruct hl-pill-name">Enter letters or imprint on the pill</p>
  <div id="imprint-autocomplete" class="float-left">
    <input type="text" name="marking" id="imprint-input" placeholder="Letters and/or numbers" class="hl-input-text ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
    <div id="imprintAcContainer"><ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" role="listbox" aria-activedescendant="ui-active-menuitem" style="z-index: 1; top: 0px; left: 0px; display: none;"></ul></div>
  </div>
  <button id="button-find-imprint" class="primary-button hl-pi-button-full hl-pi-button-disabled" disabled="disabled">
    Find Pill
    <div class="pill-imprint-spinner spinner spinner--steps hl-icon-spinner" aria-hidden="true" style="display: none;"></div>
  </button>
</div>