	<h1>Already know the pill name?</h1>
	<form>
		<div class="form-group">
			<div class="row">
				<input type="text" uib-typeahead="item.Term for item in vm.getLocation($viewValue)" placeholder="Enter pill name" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" ng-model="selected" class="col-md-12" >
			</div>
			
			<div class="row">
				<button type="submit" class="btn btn-primary col-md-12" ui-sref="pillSearch({ searchQuery: this.selected })"><strong>Find Pill</strong></button>
			</div>
		</div>
	</form>

	<div ui-view></div>